<section class="section">
    <div class="container">
        <h2>Акції:</h2>
        <p>До кінця акції залишилось:</p>
        <div class="timer">
            <div class="field">
                <span class="value" data-days>00</span>
                <span class="label">Днів</span>
            </div>
            <div class="field">
                <span class="value" data-hours>00</span>
                <span class="label">Годин</span>
            </div>
            <div class="field">
                <span class="value" data-minutes>00</span>
                <span class="label">Хвилин</span> 
            </div>
            <div class="field">
                <span class="value" data-seconds>00</span>
                <span class="label">Секунд</span> 
            </div>
        </div>

        <button type="button" data-start>Start</button>
    </div>
</section>