<section class="section">
    <div class="container">
                <h2 class=contact__title>Контакти</h2>
                <div class=contact__contentWrapper>
                    <ul class=contact__socialList>
                        <li class=contact__socialItem>
                            <h3 class=contact__socialTitle>Телефон:</h3>
                            <div>
                                <a class=contact__link href="tel:+380983974983">
                                    <div class=iconWrapper>
                                        <PhoneIcon class=contact__linkIcon />
                                    </div>
                                    <span>380983974983</span>
                                </a>
                                <a class=contact__link href="tel:+380981234567">
                                    <div class=iconWrapper>
                                        <PhoneIcon class=contact__linkIcon />
                                    </div>
                                    <span>38 (093) 12 34 567</span>
                                </a>
                            </div>
                        </li>
                        <li class=contact__socialItem>
                            <h3 class=contact__socialTitle>E-mail:</h3>
                            <a class=contact__link href="mailto:andrew.506@ukr.net">
                                <div class=iconWrapper>
                                    <SmsIcon class=contact__linkIcon />
                                </div>
                                <span>andrew.506@ukr.net</span>
                            </a>
                        </li>
                        <li class=contact__socialItem>
                            <h3 class=contact__socialTitle>Адреса:</h3>
                            <a class=contact__link href="https://maps.app.goo.gl/4wEMGGNfCrechPkS6" target="_blank"
                                rel="noopener noreferrer nofollow">
                                <div class=iconWrapper>
                                    <MapIcon class=contact__linkIcon />
                                </div>
                                <span>
                                    Україна, м. Київ, вул. Джохара Дудаєва, 6
                                </span>
                            </a>
                        </li>
                        <li class=contact__socialItem>
                            <h3 class=contact__socialTitle>
                                Соціальні мережі:
                            </h3>
                            <div class=contact__socialLinkWrapper>
                                <a aria-label="open facebook" class=contact__socialLink href="."
                                    rel="noopener noreferrer nofollow">
                                    <FacebookIcon class={contactSocialIcon} />
                                </a>
                                <a aria-label="open instargam" class=contact__socialLink href="."
                                    rel="noopener noreferrer nofollow">
                                    <InstagramIcon class={contactSocialIcon} />
                                </a>
                            </div>
                        </li>
                    </ul>
                    
                    <form class=contact__form>
                        <div class=contact__labelsWrapper>
                            <label class=contact__formLabel>
                                <p class=contact__formTitle>* Ваше імя:</p>
                                <input class=contact__formInput
                                    type="text" name="name" placeholder="імя" />
                                <ErrorMessage class=contact__formError component="p" name="name" />
                            </label>
                            <label class=contact__formLabel>
                                <p class=contact__formTitle>* E-mail:</p>
                                <input class=contact__formInput
                                    type="email" name="email" placeholder="johnrosie@gmail.com" />
                                <ErrorMessage class=contact__formError component="p" name="email" />
                            </label>
                            <label class=contact__formLabel>
                                <p class=contact__formTitle>* Телефон:</p>
                                <input class=contact__formInput
                                    type="text" name="phone" placeholder="380961234567" />
                                <ErrorMessage class=contact__formError component="p" name="phone" />
                            </label>
                            <label class=contact__formLabel>
                                <p class=contact__formTitle>Ваші побажання:</p>
                                <input class=contact__formText type="text" name="message" placeholder="Введіть свої побажання" as="textarea" />
                            </label>
                        </div>
                        <button class= contact__formSubmit type="submit">
                            Відправити
                        </button>
                    </form>
                </div>
           
    </div>
</section>