<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
<div class="container container__gallery">

 <div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/1.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>
    
        </div>
    </div>
        </div> 
        
        <div class="card">
            <div class="face face1">
               <div class="content">
                            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                                sizes="226.8046875px"
                                src="./images/gallery/2.jpg"
                                style="object-fit: cover;">
                                
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>Рибний торт</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.</p>
                
                </div>
            </div>
        </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/3.jpg" style="object-fit: cover;">
                </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Корейський стиль</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.</p>
    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/4.jpg" style="object-fit: cover;">
                </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Бенто торт</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.</p>
    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/5.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Трайфли</h3>
                <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.</p>
    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/6.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Все тільки починається</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                    at.</p>
    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/7.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Червоний бархат</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                    at.</p>
    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                    sizes="226.8046875px" src="./images/gallery/8.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>Улюбленому татові</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                    at.</p>
    
            </div>
        </div>
    </div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/9.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/10.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/11.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/12.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/13.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/14.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/15.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/16.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/17.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/18.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/19.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/20.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/21.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/22.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/23.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/24.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/25.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/26.jpg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/27.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/29.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/29.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/30.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/31.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/32.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/33.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/34.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/35.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/36.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/37.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/38.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/39.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/40.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/41.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/42.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/43.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/44.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/45.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/46.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/47.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/48.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Все тільки починається</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/49.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Червоний бархат</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/50.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Улюбленому татові</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident
                at.</p>

        </div>
    </div>
</div>
<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/51.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Корейський стиль</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/52.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Бенто торт</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                providentat.</p>

        </div>
    </div>
</div>

<div class="card">
    <div class="face face1">
        <div class="content">
            <img alt="Photo by Крижанівська Світлана🇺🇦 in Караваевы дачи."
                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" decoding="auto"
                sizes="226.8046875px" src="./images/gallery/53.jpeg" style="object-fit: cover;">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <h3>Трайфли</h3>
            <p>Lorem ipsum dolor sit t consectetur adipisicing elit. Quas cum cumque minus iste veritatis providentat.
            </p>

        </div>
    </div>
</div>

</div>
