<header class="header">
    <div class="container ">
        <nav class="navigation">
            <a class="logo-header" href="./index.html">
                <picture>
                    <!-- <source srcset="
                    ./images/header/logo-desk-1x.png 1x,
                    ./images/header/logo-desk-2x.png 2x
                    "
                    media="(min-width: 1280px)"/> -->
                    <!-- <img src="" alt="Логотип " width="66" /> -->
                </picture>
            </a>

            <div class="navigation__wrap">
                <ul class="navigation_list list">
                    <li class="navigation_item">
                        <a class="navigation_link current" data-hover="About" href="">Про себе</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link" data-hover="Blog" href="">Мої роботи</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link" data-hover="Contact" href="">Контакти</a>
                    </li>
                </ul>
                
            </div>
        </nav>

    </div>
</header>