<section class="hero section">
    <div class="slider-container">
        <div class="slider">
            <div class="slider-box">
                <div class="slider-line">
                    <img 
                        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " 
                        src="./images/hero1.jpeg"
                        alt="falafel" />

                    <img 
                        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " 
                        src="./images/hero2.jpg"
                        alt="greek-salad" />

                    <img 
                        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px " 
                        src="./images/hero3.jpg"
                        alt="poached-egg" />
                </div>
            </div>
        </div>
        <svg class="slider-prev" width="17" height="29">
            <!-- <use href="/src/images/symbol-defs.svg#icon-vector-left"></use> -->
        </svg>
        <svg class="slider-next" width="17" height="29">
            <!-- <use href="/src/images/symbol-defs.svg#icon-vector-right"></use> -->
        </svg>
    </div>
    </div>


</section>