<div class="form">
    <div class="mail"></div>
    <h1>Mail form</h1>
    <form action="">
        <input type="text" placeholder="Ваше ім'я" />

        <input type="text" placeholder="Ваш номер телефону" />

        <textarea name="" id="" cols="30" rows="10" placeholder="Опишіть, будь ласка, ваші побажання"></textarea>

        
        <button type="submit" class="submit">
            Замовити
        </button>

        <button type="button"  class="btn-close ">
            Закрити
        </button>
    </form>
</div>

<div class="ok_message">
    <span>Дякуємо, ми з вами звяжемось!!!</span>
</div>