<div class="form">
    <div class="mail"></div>
    <h2 class="form-head">Форма замовлення</h2>
    <form action="">
        <input class="form-input" name="name" type="text" placeholder="Ваше ім'я" />

        <input class="form-input" name="phone" type="text" placeholder="Ваш номер телефону" />

        <textarea class="form-textarea" name="description" id="" cols="40" rows="10" placeholder="Опишіть, будь ласка, ваші побажання"></textarea>

        
        <button type="submit" class="submit">
            Замовити
        </button>

        <button type="button"  class="btn-close ">
            Закрити
        </button>
    </form>
</div>

<div class="ok_message">
    <span>Дякуємо, ми з вами звяжемось!!!</span>
</div>